.DS_Store
node_modules
package-lock.json
# local env files
.env.local
.env.*.local

# Log files and lock files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
todo.*
dist
# lib 保留

# 以下是除gitignore以外新增的
examples/
public/
vue.config.js
babel.config.js
*.map
*.html
