/* adber-ui 涉及adber-ui的全局组件样式 */
@import "variables.scss";

/* --------adber-ui 组件内部样式 Start-------- */
@import "adber/table.scss";
@import "adber/draggableNest.scss";
@import "adber/formConfig.scss";
@import "adber/icon.scss";
@import "adber/noData.scss";

/* --------adber-ui 组件内部样式 End-------- */


          /* 引用 adber-ui 根据ui/产品 用于项目的默认样式 Start */

// 纯icon button 样式
.#{$prefix}icon-button {
  //font-size: 16px;
  font-size: 14px;
  padding: 0;
  border-radius: 6px;
  font-weight: 400;
  height: 32px;
  width: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #7c8794;
  background: transparent;

  &:hover {
    background: #eaedf0;
  }
}

// todo
.#{$prefix}test-class {
}

          /* 引用 adber-ui 根据ui/产品 用于项目的默认样式 End */
