/* adber-ui 涉及adber-ui的全局组件样式 */
@import "variables.scss";

/* --------adber-ui 组件内部样式 Start-------- */
@import "adber/table.scss";
@import "adber/draggableNest.scss";
@import "adber/formConfig.scss";
@import "adber/icon.scss";
@import "adber/inputNumber.scss";
@import "adber/noData.scss";
@import "adber/popover.scss";
@import "adber/searchGroup.scss";
@import "adber/select.scss";
@import "adber/dropdown.scss";

/* --------adber-ui 组件内部样式 End-------- */


/* --------引用 adber-ui 根据ui/产品 用于项目的默认样式 Start-------- */

// 纯icon button 样式
.#{$prefix}icon-button {
  //font-size: 16px;
  font-size: 14px;
  padding: 0;
  border-radius: 6px;
  font-weight: 400;
  height: 32px;
  width: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: $ad-color_3;
  background: transparent;
  &:hover {
    background: $ad-border-color_3;
    color: $ad-color_3;
  }
}

// 带搜索icon 的input
.#{$prefix}input-search {
  flex: 1;
  margin-right: 12px;
  .el-input__icon {
    cursor: pointer;
    color: $ad-color_1;
    &:hover {
      color: $ad-color-primary;
    }
  }
}

.#{$prefix}test {}

/* --------引用 adber-ui 根据ui/产品 用于项目的默认样式 End-------- */
