@import "./variables.scss";

/* Element Variables */
// Override Element UI variables
$--color-primary: $le-color-primary;
$--color-success: $le-color-success;
$--color-warning: $le-color-warning;
$--color-danger: $le-color-danger;
$--color-info: $le-color-info;


/// color|1|Font Color|2
$--color-text-primary: $le-color_1;
/// color|1|Font Color|2
$--color-text-regular: $le-color_2;
/// color|1|Font Color|2
$--color-text-secondary: $le-color_3;
/// color|1|Font Color|2
$--color-text-placeholder: $le-color_5;

/// color|1|Border Color|3
$--border-color-base: $le-border-color_1;
/// color|1|Border Color|3
$--border-color-light: $le-border-color_2;
/// color|1|Border Color|3
$--border-color-lighter: $le-border-color_3;
/// color|1|Border Color|3
$--border-color-extra-light: $le-border-color_4;

$--button-default-font-color: $--color-text-primary;
// Icon font path, required
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// Apply overrided variables in Element UI
@import '~element-ui/packages/theme-chalk/src/index';
