/**若想要更多的 自定义 可参考该配置 于项目中 单独引用相关资源 进行调整(参考：project_normal)*/
// 默认元素样式重置
@import './reset.scss';
// 涉及element-ui的全局样式主题设置
@import './element-variables.scss';
// 涉及element-ui的全局样式类改造&&新增修饰
@import './lance-element-ui.scss';
// 涉及lance-element-vue2的全局组件样式
@import './lance-element-vue2.scss';

body {
  font-family: $le-family;
  font-size: 14px;
}
// lance-element-vue 公用的iconfont class 类 为: le-iconfont
.le-iconfont {
  //font-size: 16px;
  font-size: inherit;
}

// 页面公用样式 flex column 外壳
.flex-column-page-wrap {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
}
// 单行超出隐藏
.text-overflow-hidden {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

// table下 按钮集合的外壳样式
.#{$prefix}button-wrap {
  padding-bottom: 16px;
}

// 全局滚动条样式
::-webkit-scrollbar{width:6px;height:6px}
::-webkit-scrollbar-track{border-radius:6px;background: $le-bg-color_3;}
::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,0.06);box-shadow:0 0 0 #fff inset,0 0 0 rgba(255,255,255,0.9) inset,0 0 0 rgba(255,255,255,0.9) inset,0 0 0 rgba(255,255,255,0.9) inset}
::-webkit-scrollbar-track:active{background-color:rgba(0,0,0,0.1)}
::-webkit-scrollbar-thumb{border-radius:6px;background-color:rgba(0,0,0,0.1);box-shadow:0 0 0 #fff inset,0 0 0 #fff inset,0 0 0 rgba(255,255,255,0.9) inset,0 0 0 rgba(255,255,255,0.9) inset}
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,0.4)}
::-webkit-scrollbar-thumb:active{background:rgba(0,0,0,0.6)}
