// 默认元素样式重置
@import './reset.scss';
// 涉及element-ui的全局样式类改造&&新增修饰
@import './adber-element-ui.scss';
// 涉及adber-ui的全局组件样式
@import './adber-ui.scss';

body {
  font-family: $ad-family;
  font-size: 14px;
}
// adber 公用的iconfont class 类 为: ad-iconfont
.ad-iconfont {
  //font-size: 16px;
  font-size: inherit;
}

// 页面公用样式 flex column 外壳
.flex-column-page-wrap {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
}
// 单行超出隐藏
.text-overflow-hidden {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}


// table下 按钮集合的外壳样式
.#{$prefix}button-wrap {
  padding-bottom: 16px;
}

// 全局滚动条样式
::-webkit-scrollbar{width:6px;height:6px}
::-webkit-scrollbar-track{border-radius:6px;background: $ad-bg-color_3;}
::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,0.06);box-shadow:0 0 0 #fff inset,0 0 0 rgba(255,255,255,0.9) inset,0 0 0 rgba(255,255,255,0.9) inset,0 0 0 rgba(255,255,255,0.9) inset}
::-webkit-scrollbar-track:active{background-color:rgba(0,0,0,0.1)}
::-webkit-scrollbar-thumb{border-radius:6px;background-color:rgba(0,0,0,0.1);box-shadow:0 0 0 #fff inset,0 0 0 #fff inset,0 0 0 rgba(255,255,255,0.9) inset,0 0 0 rgba(255,255,255,0.9) inset}
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,0.4)}
::-webkit-scrollbar-thumb:active{background:rgba(0,0,0,0.6)}
