@import "../variables.scss";
@import "../mixins.scss";

// table TableColumnsPopover 样式
.#{$prefix}column-popover {
  &.el-popper {
    min-width: 250px;
    line-height: 1;
    padding: 12px 0 0;
  }
  .el-select-dropdown__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 12px;
  }
  // 分割线
  .divider {
    margin: 0 12px;
    border-bottom:1px solid #EAEDF0;
  }
  .el-scrollbar__wrap {
    margin-bottom: 0 !important;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 24vh;
  }
  .el-select-dropdown__list {
    padding: 0;
  }
  .columns-contents {
    //min-width: 250px;
    .title {
      padding: 0 12px;
      line-height: 22px;
      color: #7C8794;
    }
    .label {
      padding: 0 12px;
      height: 36px;
      line-height: 36px;
      color: #BDC3C9;
    }
    //.draggableWrap {
    //  //display: flex;
    //  //flex-direction: column;
    //  ////min-height: max-content;
    //  //min-height: 20vh;
    //}
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }
}
// table 样式
.#{$prefix}table-warp {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 0;
  /*.slot_title-wrap {
    display: inline-flex;
    align-items: center;
    text-align: center;
    overflow: hidden;

    .label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    !* .iconfont {
      margin-left: .2em;
      font-size: 14px;
      cursor: pointer;
      color: #888;
      font-weight: normal;
    } *!
  }*/
  .tableBody {
    flex: 1;
    min-height: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .toolBarWrap {
      margin-bottom: 16px;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      //align-items: flex-start;
      .toolLeft {
        flex: 1;
      }

      .toolRight {
        //align-self: flex-end;
        // 兼容当搜索组件放置在 toolLeft 的时候
        //min-height: 32px;
        display: flex;
        align-items: center;
        // 仅带icon 的button 按钮样式
        .icon-button {
          @extend %icon-button;
        }

        .el-button {
          margin-left: 12px;
        }
      }
    }

    .tableParentEl {
      flex: 1;
      overflow-y: hidden;
    }
    .ad-table {
      font-size: 13px;
      transform: translate(0, 0);
      &.el-table--border {
        td:not(:last-child) {
          border-right-color: transparent;
        }
      }

      &.el-table__body-wrapper {
        .el-table--border.is-scrolling-left ~ .el-table__fixed:not(:last-child) {
          border-right-color: transparent;
        }
      }
      th {
        height: 41px;
        background: #F6FAFF;
        .cell {
          //font-size: 13px;
          font-weight: 500;
          color: $ad-color_1;
          line-height: 17px;
          padding-left: 12px;
          padding-right: 12px;
        }
      }

      &.el-table--striped {
        .el-table__body {
          tr.el-table__row--striped td {
            background: #f6f8fa;
          }
        }
      }
      .el-table__body {
        //td {
        //  color: $ad-color_2;
        //  font-size: 12px;
        //}

        tr.hover-row.current-row > td,
        tr.hover-row.el-table__row--striped.current-row > td,
        tr.hover-row.el-table__row--striped > td,
        tr.hover-row > td {
          background-color: #e8f2fe;
        }
      }
      &.el-table--enable-row-hover {
        .el-table__body tr:hover > td {
          background-color: #e8f2fe;
        }
      }
      .el-table__body tr.hover-row > td {
        background: #f6f8fa;
      }
    }

  }
  .el-pagination {
    display: flex;
    padding: 16px 12px;
    justify-content: flex-end;
  }
}
