/* Variables */
$prefix: 'ad-';
$ad-family: Helvetica Neue, Helvetica, sans-serif;

$ad-border-color: #eaedf0;
$ad-text-color-text: #bdc3c9;
$ad-text-color-header: #7c8794;
$ad-text-color-black: #32363b;
$ad-bg-color-gray: #f5f6f7;
$ad-link-color-blue: #4097fd;
$ad-link-background-gray: #4097fd;
