/* Variables */
$adb-border-color: #eaedf0;
$adb-text-color-text: #bdc3c9;
$adb-text-color-header: #7c8794;
$adb-text-color-black: #32363b;
$adb-bg-color-gray: #f5f6f7;
$adb-link-color-blue: #4097fd;
$adb-link-background-gray: #4097fd;
